<ul>
    <li><button [routerLink]="['form-control']">Form Control</button></li>
    <li><button [routerLink]="['form-group']">Form Group</button></li>
    <li>
        <button [routerLink]="['nested-form-group']">Nested Form Group</button>
    </li>
    <li><button [routerLink]="['update-form']">Update Form</button></li>
    <li><button [routerLink]="['form-builder']">Form Builder</button></li>
    <li><button [routerLink]="['validate-form']">Validate Form</button></li>
    <li><button [routerLink]="['dynamic-form']">Dynamic Form</button></li>
    <li>
        <button [routerLink]="['dynamic-form-group']">
            Dynamic Form Group
        </button>
    </li>
</ul>
<router-outlet></router-outlet>
